<div formArrayName="addresses" *ngFor="let address of addresses.controls; let i=index">
  <div [formGroupName]="i">
      <div class="form-group" >
          <label class="col-md-2 control-label"
                 attr.for="{{'addressType1Id' + i}}">Address Type</label>
          <div class="col-md-8">
              <label class="radio-inline">
                  <input type="radio" id="{{'addressType1Id' + i}}" value="home"
                  formControlName="addressType">Home
              </label>
              <label class="radio-inline">
                  <input type="radio" id="{{'addressType1Id' + i}}" value="work"
                  formControlName="addressType">Work
              </label>
              <label class="radio-inline">
                  <input type="radio" id="{{'addressType1Id' + i}}" value="other"
                  formControlName="addressType">Other
              </label>
          </div>
      </div>

      <div class="form-group">
          <label class="col-md-2 control-label"
                 attr.for="{{'street1Id' + i}}">Street Address 1</label>
          <div class="col-md-8">
              <input type="text"
                  class="form-control"
                  id="{{'street1Id' + i}}"
                  placeholder="Street address"
                  formControlName="street1">
          </div>
      </div>
