.form{
  position: absolute;
  // margin-top: 4%;
}

.container{
  margin-top: 10%;
}
// .form{



  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
    text-align: center;
    margin: auto;
  }

  .btn-add>button{
    // display: flex;
    // justify-content: center;
    // width: 120px;
    box-shadow:none;
    float: right !important;
    // float: right !important;
  }



  .row::-webkit-scrollbar{
    overflow: auto;
    ;
    display: none;

  }
// }

.table-responsive{
overflow: hidden;
}
