
<div class="container">

<form class="form-group" [formGroup]="userForm">
  <div class="mb-3">
    <label for="Name" class="form-label" >Name</label>
    <input formControlName="Name" type="text" class="form-control"  placeholder="Enter Name">
    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
  </div>
  <div class="mb-3">
    <label for="Address" class="form-label">Address</label>
    <input formControlName="Address" type="text" class="form-control" placeholder="Enter Address">
  </div>
  <div class="mb-3">
    <label for="GSTNO" class="form-label">GSTNO</label>
    <input formControlName="GSTNO" type="text" class="form-control" placeholder="Enter GSTNO">
  </div>

</form>


</div>
