@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200&display=swap');

*
{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body
{
  font-family: "poppins", sans-serif;
}

nav
{
  background: #27ae60;
  height: 60px;
  width: 100%;
}

label.logo
{
  color: #fff;
  font-size: 35px;
  line-height: 60px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul
{
  float: right;
  margin-right: 20px;
}

nav ul li
{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}

nav ul li a
{
  color: #fff;
  font-size: 17px;
  padding: 5px 13px;
  border-radius: 3px;
  text-transform: upparcase;
}

a.active,a:hover
{
  background: #2ecc71;
  transition: .5;
}

.checkbtn
{
  font-size: 28px;
  color: #fff;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check
{
  display: none;
}



/* ------------ Small laptop screen ----------- */
@media screen and (max-width: 952px)
{
  label.logo
  {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a
  {
    font-size: 16px;
  }
}


/* --------------- tablet and mobile screen ----------------- */
@media screen and (max-width: 858px)
{
  label.logo
  {
    font-size: 20px;
    padding-left: 50px;
  }

  .checkbtn
  {
    display: block;
  }

  ul
  {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #78e08f;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li
  {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a
  {
    font-size: 20px;
  }

  a:hover,a.active
  {
    background: none;
    color: #000;
  }

  #check:checked ~ ul
  {
    left: 0;
  }
}
