.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
  text-align: center;
  margin: auto;
}

.btn-add > button {
  box-shadow: none;
  float: right !important;
}

.red-box {
  border-color: red;
}

.row::-webkit-scrollbar {
  overflow: auto;
  display: none;
}

.table-responsive {
  overflow: hidden;
}
