<div class="container mt-3">

  <form class="form-group" [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input formControlName="Name" type="text" class="form-control" placeholder="Enter Name">
    </div>
    <div class="mb-3">
      <label for="Address" class="form-label">Address</label>
      <input formControlName="Address" type="text" class="form-control" placeholder="Enter Address">
      <mat-error *ngIf="Addresscontrol?.hasError('pattern')">more than 4</mat-error>
    </div>
    <div class="mb-3">

      <label for="GSTNO" class="form-label">GSTNO</label>
      <input formControlName="GSTNO" type="text" class="form-control" placeholder="Enter GSTNO">
      <!-- <mat-error *ngIf="GSTNOcontrol?.touched ">You must enter GST
      </mat-error> -->
      <mat-error *ngIf="GSTNOcontrol?.hasError('pattern')">Enter proper GST number </mat-error>
      <!-- <mat-error *ngIf="GSTNOcontrol" >GST is required </mat-error> -->

    </div>

    <div class="row">
      <div class="col-sl-12" formArrayName="productData">
        <table class="table table-responsive table-hover">
          <thead class="thead-dark">
            <tr>
              <th style="white-space: nowrap;padding-right: 4em;float: center;">
                Index
              </th>
              <th style="white-space: nowrap;padding-right: 4em;float: center;">Description</th>
              <th style="white-space: nowrap;padding-right: 4em;float: center;">HSN</th>
              <th style="white-space: nowrap;padding-right: 4em;float: center;">Quantity</th>
              <th style="white-space: nowrap;padding-right: 4em;float: center;">Rate</th>
              <th>
                <div class="btn-add">
                  <button mat-mini-fab color="warn" (click)="addNewRow()"><strong>+</strong></button>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemrow of getItemRows(); let i=index" [formGroupName]="i">
              <td>
                {{i+1}}
              </td>
              <td>
                <input type="text" class="form-control" formControlName="Description" placeholder="Enter Description">
                <mat-error *ngIf="Descriptioncontrol(i)?.hasError('maxLength')">Desc is required</mat-error>
              </td>
              <td>
                <input  type="number"
                [ngClass]="{'is-invalid':HSNcontrol(i)?.hasError('pattern')}"
                 class="form-control" formControlName="HSN" placeholder="HSN">
                <mat-error *ngIf="HSNcontrol(i)?.hasError('pattern')">length must be between 4 to 8 </mat-error>


              </td>
              <td>
                <input type="number" class="form-control" formControlName="Quantity" placeholder="QTY">
              </td>

              <td>
                <input type="number" class="form-control" formControlName="Rate" placeholder="Rate">
              </td>
              <td>

                <button    mat-mini-fab color="warn" (click)="deleteRow(i)"><i class="bi bi-trash3-fill"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="example-button-container">
      <button type="submit" mat-flat-button color="primary">SUBMIT</button>
    </div>
  </form>
</div>
