<div class="container mt-3">

  <form class="form-group" [formGroup]="userForm" (ngSubmit)="submitForm()">

    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input formControlName="Name" type="text" class="form-control" placeholder="Enter Name">
    </div>

    <div class="mb-3">
      <label for="Address" class="form-label">Address</label>
      <input formControlName="Address" type="text" class="form-control" placeholder="Enter Address">
      <mat-error *ngIf="Addresscontrol?.hasError('pattern')">more than 4</mat-error>
    </div>

    <div class="mb-3">
      <label for="Vehicle Number" class="form-label">Vehicle Number</label>
      <input formControlName="VehicleNumber" type="text" class="form-control" placeholder="Enter Vehicle Number  ">
      <mat-error *ngIf="VehicleNumbercontrol?.hasError('pattern')">Enter proper Vehicle Number</mat-error>
    </div>

    <div class="mb-3">
      <label for="PlaceOfSupply" class="form-label">Place Of Supply</label>
      <input formControlName="PlaceOfSupply" type="text" class="form-control" placeholder="Enter Place Of Supply  ">
    </div>

    <div class="mb-3">
      <label for="ShippedTo" class="form-label">Shipping Address</label>
      <input formControlName="ShippedTo" type="text" class="form-control" placeholder="Enter Shipping Address">
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Shipping Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="DateOfSupply" [ngModel]="todaydate">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [startAt]="todaydate" #picker></mat-datepicker>
    </mat-form-field>

    <div>
      <mat-form-field style="right: 3.25em; position: absolute;" appearance="outline">
        <mat-label>Add Rows to insert</mat-label>
        <input #box type="number" matInput placeholder="" (keyup.enter)="onEnter(box.value)">
      </mat-form-field>
      <button style="margin-top: 1em;" mat-flat-button color="warn">Delete All Rows</button>
    </div>

    <div class="row" style="margin-top: 5em;">
      <div class="col-sl-12" formArrayName="productData">

        <table class="table table-responsive table-hover">
          <thead class="thead-dark">
            <tr>
              <th style="white-space: nowrap;padding-right: 4em;float: center;">
                Index
              </th>
              <th style="white-space: nowrap;padding-right: 4em;float: center;">Description</th>
              <th style="white-space: nowrap;padding-right: 4em;float: center;">HSN</th>
              <th style="white-space: nowrap;padding-right: 4em;float: center;">Quantity</th>
              <th style="white-space: nowrap;padding-right: 4em;float: center;">Rate</th>
              <th style="white-space: nowrap;padding-right: 4em;float: center;">Per</th>
              <th style="white-space: nowrap;padding-right: 4em;float: center;">Amount</th>
              <!-- <th>
                <button style="height: 35px !important;width: 35px;" mat-mini-fab color="warn"
                  (click)="addNewRow()"><strong>+</strong></button>
              </th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemrow of getItemRows(); let i=index" [formGroupName]="i">
              <td>
                {{i+1}}
              </td>
              <td>
                <input type="text" class="form-control" formControlName="Description" placeholder="Enter Description">
                <mat-error *ngIf="Descriptioncontrol(i)?.hasError('required')">Description is required</mat-error>
              </td>
              <td>
                <input type="number" [ngClass]="{'is-invalid':HSNcontrol(i)?.hasError('pattern')}" class="form-control"
                  formControlName="HSN" placeholder="HSN">
                <mat-error *ngIf="HSNcontrol(i)?.hasError('pattern')">length must be between 4 to 8 </mat-error>
                <mat-error *ngIf="HSNcontrol(i)?.hasError('required')">HSN is required </mat-error>
              </td>

              <td>
                <input type="number" class="form-control" formControlName="Quantity" placeholder="QTY">
                <mat-error *ngIf="Quantitycontrol(i)?.hasError('required')">Quantity is required</mat-error>
              </td>

              <td>
                <input type="number" class="form-control" formControlName="Rate" placeholder="Rate">
                <mat-error *ngIf="Ratecontrol(i)?.hasError('required')">Rate is required</mat-error>
              </td>

              <td>
                <input type="number" class="form-control" formControlName="Per" placeholder="Per">
                <mat-error *ngIf="Percontrol(i)?.hasError('required')">Per is required</mat-error>
              </td>

              <td>
                <input type="number" class="form-control" formControlName="Amount" placeholder="Amount">
                <mat-error *ngIf="Amountcontrol(i)?.hasError('required')">Amount is required</mat-error>
              </td>
              <td>
                <button style="height: 35px !important;width: 35px;" mat-mini-fab color="warn" (click)="deleteRow(i)"><i
                    class="bi bi-trash3-fill"></i></button>
              </td>



              <td class="showhim">
                <button style="height: 30px !important;width: 30px;" class="showme" mat-mini-fab color="warn"
                  (click)="addNewRow()"><strong>+</strong></button>
              </td>


            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Grand Total:{{totalPrice()|currency:'INR'}}</strong></td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="example-button-container">
      <button type="submit" mat-flat-button color="primary">SUBMIT</button>
    </div>
  </form>
</div>
