<!-- <div class="container"> -->

<div class="mat-elevation-z8 w-100">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <mat-icon style="margin-bottom: auto;position: absolute;right: 0.5% ;;" fontIcon="search"></mat-icon>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search Item" #input>
  </mat-form-field>
  <mat-table  mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container class="column-border" matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef>Address</th>

      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ContactNo">
      <th mat-header-cell *matHeaderCellDef> ContactNo </th>
      <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Date_of_supply">
      <th mat-header-cell *matHeaderCellDef> Date of supply </th>
      <td mat-cell *matCellDef="let element"> {{element.dateOfSupply}} </td>
    </ng-container>

    <ng-container matColumnDef="Place_of_Supply">
      <th mat-header-cell *matHeaderCellDef> Place of Supply </th>
      <td mat-cell *matCellDef="let element"> {{element.placeOfSupply}} </td>
    </ng-container>

    <ng-container matColumnDef="Transportation_Mode">
      <th mat-header-cell *matHeaderCellDef> Transportation Mode </th>
      <td mat-cell *matCellDef="let element"> {{element.transportationMode}} </td>
    </ng-container>

    <ng-container matColumnDef="Vehicle_Number">
      <th mat-header-cell *matHeaderCellDef> Vehicle Number </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
    </ng-container>

    <ng-container class="button" matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-flat-button (click)="edit(element)"><mat-icon color="primary" fontIcon="edit"></mat-icon></button>
        <button mat-flat-button (click)="edit(element)"><mat-icon color="warn" fontIcon="delete"></mat-icon></button>
        <!-- <button (click)="edit(element)">Delete</button> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
  <hr style=" color:solid 1px #adb5bd; margin-top: 0px;">
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<!-- </div> -->
