mat-row {
  border: grey;
}

.mat-column-Address {
  border-right: 1px solid grey;
}
.mat-column-ContactNo {
  border-right: 1px solid grey;
}
.mat-column-Date_of_supply {
  border-right: 1px solid grey;
}
.mat-column-Place_of_Supply {
  border-right: 1px solid grey;
}
.mat-column-Transportation_Mode {
  border-right: 1px solid grey;
}

.mat-column-Name {
  border-right: 1px solid grey;
}
.mat-column-Vehicle_Number {
  border-right: 1px solid grey;
}

.mat-mdc-form-field {
  margin-inline: 10%;
  margin-bottom: 2%;
  font-size: 14px;
  text-align: center;
  width: 80%;
}

th {
  border-top: 1.5px solid grey !important;
}

.mat-mdc-header-cell {
  vertical-align: middle;
}

@media screen and (min-width: 600px) {
  mat-table {
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1030px) {
  mat-table {
    // overflow-y: scroll;
    table-layout: fixed;
    width: 100%;
    display: table;
  }
}

@media screen and (max-width: 600px) {
  mat-table {
    overflow-y: scroll;
  }
}
