<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="header.component.scss" />
  </head>

  <header>
  <div class="nav-container">
    <input type="checkbox" id="openSideMenu" class="openSideMenu" />
    <label for="openSideMenu" class="menuIconToggle">
      <div class="hamb-line dia part-1 ham1"></div>
      <div class="hamb-line hor ham1"></div>
      <div class="hamb-line dia part-2 ham1"></div>
    </label>
    <nav class="side-menu">
      <ul>
        <li><a class="nav-lists" routerLink="app-billing-form">Customers</a></li>
        <li><a class="nav-lists" href="#">Menu Item 2</a></li>
        <li><a class="nav-lists" href="#">Menu Item 3</a></li>
        <li><a class="nav-lists" href="#">Menu Item 4</a></li>
      </ul>
    </nav>
  </div>
</header>
</html>
