<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="header.component.scss" />
  </head>

  <header>
  <div class="nav-container">
    <input type="checkbox" id="openSideMenu" class="openSideMenu" />
    <label for="openSideMenu" class="menuIconToggle">
      <div class="hamb-line dia part-1 ham1"></div>
      <div class="hamb-line hor ham1"></div>
      <div class="hamb-line dia part-2 ham1"></div>
      <div class="default-home"><button  routerLink="app-home-d">Home</button></div>

    </label>
    <nav class="side-menu">
      <ul>
        <li routerLink="app-billing-form"><a class="nav-lists" >Generate Invoice</a></li>
        <li><a class="nav-lists" href="#">Invoice</a></li>
        <li><a class="nav-lists" href="#"></a></li>
        <li><a class="nav-lists" href="#"></a></li>
      </ul>
    </nav>
  </div>
</header>
</html>
