<hr />
<hr />
<!-- <p>generate-invoice works!</p> -->
<button (click)="makePDF()">make pdf</button>

<!-- <h1>{{count}}</h1> -->
<div #box>
  <div style="text-align: center" class="title">
    <h2>Bill of Supply</h2>
    <p>Composition taxable person. Not eligible to collect tax on supplies</p>
    <div class="table">
      <table style="margin: auto" >
        <!-- Data Table -->

        <table cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
          <!--  1st Data Row  -->
          <tr style=""  cellpadding="0" cellspacing="0">
            <td style="width: 40% !important;border-collapse: collapse;" cellpadding="0" cellspacing="0" >
              <!-- ADRESS:1 -->
                <div class="row col" style="border: 1px solid black;height: 10rem;--bs-gutter-x:0rem">
                  KHUSH PLASTIC D,53/2, SARDAR ESTATE AJWA ROAD VADODARA
                  GSTIN/UIN: 24AEXPK0707K1Z9 State Name : Gujarat, Code : 24
                  E-Mail : dgolani@yahoo.com
                </div>
                <!-- ADRESS:2 -->
                <div class="row" style="border: 1px solid black;height: 10rem;--bs-gutter-x:0rem">
                  Buyer Real Plast Manufacture 6 , Sarvodaya State , Nr. Chamunda
                  Bridge , Asarwa , Ahmedabad GSTIN/UIN : 24JUFPK5052Q1Z1 State
                  Name : Gujarat, Code : 24
                </div>
            </td>

            <td  class="table"  >
              <div class="row" style="--bs-gutter-x:0rem" >
                <td class="col"  >Invoice no. 395</td>
                <td class="col" style>Dated 13-Oct-2022</td>
              </div>
              <div class="row" style="--bs-gutter-x:0rem">
                <td class="col">Delivery Note</td>
                <td class="col">Mode/Terms of Payment</td>
              </div>
              <div class="row" style="--bs-gutter-x:0rem">
                <td class="col">Supplier's Ref. 395</td>
                <td class="col">Other Reference(s)</td>
              </div>
              <div class="row" style="--bs-gutter-x:0rem">
                <td class="col">Buyer's Order No.</td>
                <td class="col">Dated</td>
              </div>
              <div class="row" style="--bs-gutter-x:0rem">
                <td class="col">Despatch Document No</td>
                <td class="col">Delivery Note Date</td>
              </div>
              <div class="row" style="--bs-gutter-x:0rem">
                <td class="col">Despatched through</td>
                <td class="col">Destination</td>
              </div>
              <div class="row" style="height: 10rem;">
                <p>
                  Terms of Delivery
                </p>
              </div>
            </td>
          </tr>
        </table>

        <!-- Product table -->

        <table style="width: 100%">
          <tr>
            <th style="width: 10%">SI NO.</th>
            <th>Description of Goods</th>
            <th>HSN/SAC</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Per</th>
            <th>Amount</th>
          </tr>
          <!-- ngfor -->
          <tr>
            <td>1</td>
            <td>Nitro Pouch</td>
            <td>3294</td>
            <td>480 set</td>
            <td>54.00</td>
            <td>set</td>
            <td>25,920.00</td>
          </tr>

          <!-- total -->
          <tr>
            <td></td>
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>52000</td>
          </tr>

          <!-- <tr style="white-space: nowrap">

        </tr> -->
        </table>

        <tr style="white-space: nowrap; text-align: center">
          Amount Chargaeble in Words:
          <p>
            <strong>
              INR Fifty Two Thousand Nine Hundred Sixty Five Only
            </strong>
          </p>
        </tr>

        <table style="width: 100%">
          <th style="width: 80%">HSN/SAC</th>
          <th>Value of Supply</th>
          <tr>
            <td>3924</td>
            <td>52000</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>52000</td>
          </tr>
        </table>

        <p style="text-align: left; margin-bottom: 5rem">
          Tax Amount (in words) :<strong> NIL</strong>
        </p>
        <!-- <p > -->

        <div
          style="float: left; text-align: left; margin-top: 14rem; width: 30%"
        >
          <u>
            <strong>Declaration</strong>
          </u>
          <div>
            We declare that this invoice shows the actual price of the goods
            described and that all particulars are true and correct
          </div>
        </div>

        <div style="text-align: right">
          <p>Company's Bank Details</p>
          <p>Bank Name :<strong>HDFC Bank Ltd</strong></p>
          <p>A/c No. : <strong> 50200009780751Ltd</strong></p>
          <p>Branch & IFS Code: <strong> Karelibaug & HDFC0000147</strong></p>
          <div
            class="sign"
            style="
              float: right !important;
              overflow: hidden;
              border: 1px solid black;
              height: 7rem;
              width: 25rem;
            "
          >
            <strong> for KHUSH PLASTIC </strong>

            <p style="margin-top: 4rem">Authorised Signatory</p>
          </div>
        </div>
      </table>
    </div>
  </div>
  <p style="text-align: center">This is a Computer Generated Invoice</p>
</div>
